* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #475772;
  font-family: Helvetica, Arial, sans-serif;
  
}

/*This will apply styles to <header>*/
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #475772;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
}

.box {
  background: #9cc4cc;
  color: #475772;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #475772;
  margin: 0;
  background: transparent;
  
}

.about-me p {
  align-items: flex-start;
}

.box {
  background: #9cc4cc;
  color: #475772;
}

header a{
  text-decoration: underline;
  color: #9cc4cc;
}

header nav{
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero{
  background-image: url(https://www.wallpaperflare.com/static/301/722/478/abstract-graphic-design-vector-white-wallpaper.jpg);
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
/*for the background size*/
section {
  padding: 100px;
}

* {
box-sizing: border-box;
}

.float-container {
  border: 3px transparent;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px;
}

/*Contact Me Styling*/

.contact {
  font-weight: bold;
  font-size: 15px;
  color: #4d5d77;
  margin: 0;
  background: transparent;
  text-decoration: underline;
}

.contact nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}